node_modules/
.vscode
.DS_Store
.env

bak express-series-quest7-start
bak express-series-quest7-start copy
bak express-series-quest9-start
bak express-series-quest9-end
bak express-series-quest9-end challenge
bak express-series-quest10-end